# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Idade,Item ID,Login,Nome do Item,Sexo,Valor
0,38,165,Aelalis34,Bone Crushing Silver Skewer,Masculino,3.37
1,21,119,Eolo46,"Stormbringer, Dark Blade of Ending Misery",Masculino,2.32
2,34,174,Assastnya25,Primitive Blade,Masculino,2.46
3,21,92,Pheusrical25,Final Critic,Masculino,1.36
4,23,63,Aela59,Stormfury Mace,Masculino,1.27

## Informações Sobre os Consumidores

In [ ]:
# Contagem de Consumidores

# Número total de consumidores

In [7]:
player_demographics = purchase_file.loc[:, ['Sexo', 'Login', 'Idade']]
player_demographics.head()

        Sexo         Login  Idade
0  Masculino     Aelalis34     38
1  Masculino        Eolo46     21
2  Masculino   Assastnya25     34
3  Masculino  Pheusrical25     21
4  Masculino        Aela59     23

In [14]:
# Limpeza dos dados e remoção de duplicatas
player_demographics = player_demographics.drop_duplicates()
player_count = player_demographics.count()[0]
print(f'Total de compradores: {player_count}')

Total de compradores: 573

In [15]:
# Converter saída para DF para uso posterior em análise
pd.DataFrame({'Total de Consumidores': [player_count]})

   Total de Consumidores
0                    573

## Análise Geral de Compras

In [ ]:
# Número de itens exclusivos
# Preço médio de compra
# Número total de compras
# Rendimento total

In [16]:
# Cálculos básicos

average_item_price = purchase_file.Valor.mean()
total_item_price = purchase_file.Valor.sum()
total_item_count = purchase_file.Valor.count()
item_id = len(purchase_file['Item ID'].unique())

# Dataframe para os resultados
summary_calculations = pd.DataFrame({'Número de Itens Únicos' : item_id,
                                     'Número de Compras' : total_item_count,
                                     'Total de Vendas' : total_item_price,
                                     'Preço Médio' : [average_item_price]})

# Data Munging
summary_calculations = summary_calculations.round(2)
summary_calculations ['Preço Médio'] = summary_calculations['Preço Médio'].map('${:,.2f}'.format)
summary_calculations ['Total de Vendas'] = summary_calculations['Total de Vendas'].map('${:,.2f}'.format)
summary_calculations = summary_calculations.loc[:, ['Número de Itens Únicos', 'Preço Médio', 'Número de Compras', 'Total de Vendas' ]]

summary_calculations

   Número de Itens Únicos Preço Médio  Número de Compras Total de Vendas
0                     183       $2.93                780       $2,286.33

In [17]:
purchase_file['Item ID'].unique()

array([165, 119, 174,  92,  63,  10, 153, 169, 118,  99,  57,  47,  81,
        77,  44,  96, 123,  59,  91, 177,  78,   3,  11, 183,  65, 132,
       106,  49,  45, 155,  37,  48,  90,  13, 171,  25,   7, 124,  68,
        85, 120,  17, 141,  73, 151,  32,  51, 101, 140,  31,  34,   2,
        86,  39,  28, 160, 134,  83,  38, 158, 110, 122,  54, 105,  87,
        23, 144, 128, 175,  46, 150, 152, 108, 172, 167, 181,  20, 130,
       111, 103,  30, 139, 173,  55, 115,  35,  42,   9,  84, 180, 102,
        53,  18,  74, 126,  50,  62, 125, 121, 129, 149,  12,  71,  14,
        58,  27,  52,  66, 100, 112,  24,  94, 107,   0, 182,  97,  70,
        89,   1, 170,  93, 179,  36,  75, 143, 137, 176, 148, 127, 147,
       161, 154, 157, 116,  61, 131,  41, 145,  60, 162, 135,   8,  40,
        15,  29,  72, 114, 117,  79,  88, 104,  95,  64,  98,  33,  76,
       146, 166,  56,  22,  21,  16,  67, 133,  69, 159,  82, 113, 164,
         6, 163,   5,  19, 168, 136,  80,  26, 142, 178, 156, 109,  43,
         4], dtype=int64)

## Informações Demográficas Por Gênero

In [ ]:
# Porcentagem e contagem de compradores masculinos
# Porcentagem e contagem de compradores do sexo feminino
# Porcentagem e contagem de outros / não divulgados

In [18]:
# Cálculos básicos
gender_count = player_demographics.Sexo.value_counts()
gender_percent = (gender_count / player_count) * 100

# Dataframe para os resultados
gender_demographics = pd.DataFrame({'Sexo' : gender_count,
                                    '%' : gender_percent})

# Data Munging 
gender_demographics = gender_demographics.round(2)
gender_demographics ['%'] = gender_demographics['%'].map('{:,.1f}%'.format)

In [19]:
# Output Test
gender_count

Masculino                 465
Feminino                  100
Outro / NÃ£o Divulgado      8
Name: Sexo, dtype: int64

In [20]:
# Output Test
gender_percent

Masculino                 81.151832
Feminino                  17.452007
Outro / NÃ£o Divulgado     1.396161
Name: Sexo, dtype: float64

In [21]:
# Output Test
gender_demographics

                        Sexo      %
Masculino                465  81.2%
Feminino                 100  17.4%
Outro / NÃ£o Divulgado     8   1.4%

## Análise de Compras Por Gênero

In [ ]:
# Número de compras
# Preço médio de compra
# Valor Total de Compra
# Compras por faixa etária

In [22]:
# Agrupamentos
gender_total_item_price = purchase_file.groupby(['Sexo']).sum()['Valor'].rename('Total de Vendas')
gender_average_item_price = purchase_file.groupby(['Sexo']).mean()['Valor'].rename('Average Price')
purchase_count = purchase_file.groupby(['Sexo']).count()['Valor'].rename('Número de compras')
normalized_total = gender_total_item_price / gender_demographics['Sexo']

# Armazenando o resultado em um Dataframe
gender_purchasing_analysis = pd.DataFrame({'Número de Compras' : purchase_count,
                                           'Valor Médio Por Item' : gender_average_item_price,
                                           'Total de Vendas' : gender_total_item_price,
                                           'Total Normalizado' : normalized_total})

# Data Munging
gender_purchasing_analysis = gender_purchasing_analysis.round(2)
gender_purchasing_analysis ['Valor Médio Por Item'] = gender_purchasing_analysis['Valor Médio Por Item'].map('${:,.2f}'.format)
gender_purchasing_analysis ['Total de Vendas'] =  gender_purchasing_analysis['Total de Vendas'].map('${:,.2f}'.format)
gender_purchasing_analysis ['Total Normalizado'] = gender_purchasing_analysis['Total Normalizado'].map('${:,.2f}'.format)

In [23]:
# Result
gender_total_item_price

Sexo
Feminino                   382.91
Masculino                 1867.68
Outro / NÃ£o Divulgado      35.74
Name: Total de Vendas, dtype: float64

In [24]:
# Result
gender_average_item_price

Sexo
Feminino                  2.815515
Masculino                 2.950521
Outro / NÃ£o Divulgado    3.249091
Name: Average Price, dtype: float64

In [25]:
# Result
gender_purchasing_analysis

,Número de Compras,Valor Médio Por Item,Total de Vendas,Total Normalizado
Sexo,,,,
Feminino,136,$2.82,$382.91,$3.83
Masculino,633,$2.95,"$1,867.68",$4.02
Outro / NÃ£o Divulgado,11,$3.25,$35.74,$4.47

In [26]:
# Result 
normalized_total

Feminino                  3.829100
Masculino                 4.016516
Outro / NÃ£o Divulgado    4.467500
dtype: float64

## Análise Demográfica

In [27]:
player_demographics

          Sexo            Login  Idade
0    Masculino        Aelalis34     38
1    Masculino           Eolo46     21
2    Masculino      Assastnya25     34
3    Masculino     Pheusrical25     21
4    Masculino           Aela59     23
5    Masculino       Tanimnya91     20
6    Masculino      Undjaskla97     20
7     Feminino     Iathenudil29     29
8    Masculino     Sondenasta63     25
9    Masculino       Hilaerin92     31
10   Masculino       Chamosia29     24
11   Masculino          Sally64     20
12   Masculino        Iskossa88     30
13   Masculino  Seorithstilis90     23
14   Masculino        Sundast29     40
15   Masculino       Haellysu29     21
16    Feminino       Sundista85     22
17    Feminino        Aenarap34     22
18   Masculino        Iskista88     28
19   Masculino        Assossa43     31
20   Masculino          Irith83     24
21   Masculino      Iaralrgue74     15
22    Feminino         Deural48     11
23   Masculino       Chanosia65     19
24   Masculino         Qarwen67     11
25   Masculino           Idai61     21
26   Masculino    Aerithllora36     29
28   Masculino      Ilariarin45     15
29    Feminino        Phaedai25     16
30    Feminino       Eulaeria40     21
..         ...              ...    ...
729  Masculino     Iskichinya81     16
730   Feminino     Hiadanurin36     10
731   Feminino        Tyaelly53     20
732   Feminino         Shidai42     23
733  Masculino     Bartassaya73     16
734  Masculino    Mindosiasya28     13
736  Masculino      Indirrian56     19
737  Masculino         Sondim68     22
739   Feminino        Cosadar58     35
741  Masculino        Leyirra83     24
742  Masculino        Inguron55     26
746  Masculino        Ralasti48     35
747  Masculino          Lamon28     32
748  Masculino           Isri49     15
750  Masculino         Eollym91     23
752   Feminino    Yalostiphos68     15
755   Feminino      Ailaesuir66     22
756  Masculino         Siasri67     22
758  Masculino      Ryastycal90     20
761  Masculino      Raeduerin33     28
764  Masculino     Assassasda84     25
766   Feminino      Nitherian58     22
768  Masculino     Chamucosda93     21
769  Masculino   Frichilsasya78     24
770  Masculino         Aenasu69     22
771  Masculino       Lassista97     24
772  Masculino          Sidap51     15
773  Masculino    Chamadarsda63     21
778  Masculino       Quelaton80     20
779   Feminino           Alim85     23

[573 rows x 3 columns]

In [28]:
# Cálculos básicos
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
age_bracket = ['Menos de 10', '10 a 14', '15 a 19', '20 a 24', '25 a 29', '30 a 34', '35 a 39', 'Mais de 40']

purchase_file['Range de Idades'] = pd.cut(purchase_file['Idade'], age_bins, labels=age_bracket)

# Cálculos básicos
age_demographics_count = purchase_file['Range de Idades'].value_counts()
age_demographics_average_item_price = purchase_file.groupby(['Range de Idades']).mean()['Valor']
age_demographics_total_item_price = purchase_file.groupby(['Range de Idades']).sum()['Valor']
age_demographics_percent = (age_demographics_count / player_count) * 100

# Dataframe para os resultados
age_demographics = pd.DataFrame({'Contagem' : age_demographics_count,
                                 '%' : age_demographics_percent,
                                 'Valor Unitario' : age_demographics_average_item_price,
                                 'Valor Total de Compra' : age_demographics_total_item_price})

# Data Munging
age_demographics = age_demographics.round(2)
age_demographics ['%'] = age_demographics['%'].map('{:,.2f}%'.format)
age_demographics ['Valor Unitario'] = age_demographics['Valor Unitario'].map('${:,.2f}'.format)
age_demographics ['Valor Total de Compra'] = age_demographics['Valor Total de Compra'].map('${:,.2f}'.format)

In [29]:
# Result
player_demographics.head()

        Sexo         Login  Idade
0  Masculino     Aelalis34     38
1  Masculino        Eolo46     21
2  Masculino   Assastnya25     34
3  Masculino  Pheusrical25     21
4  Masculino        Aela59     23

In [30]:
# Result
age_demographics = age_demographics.sort_index()
age_demographics

             Contagem       % Valor Unitario Valor Total de Compra
10 a 14            35   6.11%          $2.77                $96.95
15 a 19           133  23.21%          $2.91               $386.42
20 a 24           336  58.64%          $2.91               $978.77
25 a 29           125  21.82%          $2.96               $370.33
30 a 34            64  11.17%          $3.08               $197.25
35 a 39            42   7.33%          $2.84               $119.40
Mais de 40         17   2.97%          $3.16                $53.75
Menos de 10        28   4.89%          $2.98                $83.46

## Consumidores Mais Populares (Top 5)

In [ ]:
# Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela):

# Login
# Número de compras
# Preço médio de compra
# Valor Total de Compra
# Itens mais populares

In [31]:
# Cálculos básicos
user_total = purchase_file.groupby(['Login']).sum()['Valor'].rename('Valor Total de Compra')
user_average = purchase_file.groupby(['Login']).mean()['Valor'].rename('Valor Médio de Compra')
user_count = purchase_file.groupby(['Login']).count()['Valor'].rename('Número de Compras')

# Dataframe para os resultados
user_data = pd.DataFrame({'Valor Total de Compra' : user_total,
                          'Valor Médio de Compra' : user_average,
                          'Número de Compras' : user_count})

# Data Munging
user_data ['Valor Total de Compra'] = user_data['Valor Total de Compra'].map('${:,.2f}'.format)
user_data ['Valor Médio de Compra'] = user_data['Valor Médio de Compra'].map('${:,.2f}'.format)
user_data.sort_values('Valor Total de Compra', ascending=False).head(5)

             Valor Total de Compra Valor Médio de Compra  Número de Compras
Login
Qarwen67                     $9.97                 $2.49                  4
Sondim43                     $9.38                 $3.13                  3
Tillyrin30                   $9.19                 $3.06                  3
Lisistaya47                  $9.19                 $3.06                  3
Tyisriphos58                 $9.18                 $4.59                  2

In [32]:
# Result 
user_data

                Valor Total de Compra Valor Médio de Compra  Número de Compras
Login
Adairialis76                    $2.46                 $2.46                  1
Aduephos78                      $6.70                 $2.23                  3
Aeduera68                       $5.80                 $1.93                  3
Aela49                          $2.46                 $2.46                  1
Aela59                          $1.27                 $1.27                  1
Aelalis34                       $5.06                 $2.53                  2
Aelin32                         $3.14                 $3.14                  1
Aeliriam77                      $6.72                 $3.36                  2
Aeliriarin93                    $2.04                 $2.04                  1
Aeliru63                        $8.98                 $4.49                  2
Aellyria80                      $4.32                 $4.32                  1
Aellyrialis39                   $3.15                 $3.15                  1
Aellysup38                      $3.61                 $3.61                  1
Aelollo59                       $1.55                 $1.55                  1
Aenarap34                       $1.65                 $1.65                  1
Aenasu69                        $3.27                 $3.27                  1
Aeral43                         $2.72                 $2.72                  1
Aeral85                         $4.25                 $4.25                  1
Aeral97                         $2.35                 $2.35                  1
Aeri84                          $6.60                 $3.30                  2
Aerillorin70                    $1.88                 $1.88                  1
Aerithllora36                  $10.45                 $3.48                  3
Aerithnucal56                   $3.18                 $1.59                  2
Aerithnuphos61                  $1.69                 $1.69                  1
Aerithriaphos45                 $2.38                 $2.38                  1
Aesty51                         $1.82                 $1.82                  1
Aesur96                         $4.66                 $4.66                  1
Aethe80                         $2.32                 $2.32                  1
Aethedru70                      $2.97                 $2.97                  1
Aidain51                        $6.84                 $3.42                  2
...                               ...                   ...                ...
Undjaskla97                     $4.57                 $4.57                  1
Undjasksya56                    $4.53                 $4.53                  1
Undotesta33                     $3.90                 $3.90                  1
Wailin72                        $2.04                 $2.04                  1
Whaestysu86                     $4.08                 $4.08                  1
Yadacal26                       $1.93                 $1.93                  1
Yadaisuir65                     $8.56                 $4.28                  2
Yadanun74                       $9.09                 $3.03                  3
Yalaeria91                      $1.88                 $1.88                  1
Yaliru88                        $3.71                 $3.71                  1
Yalo71                          $2.41                 $2.41                  1
Yalostiphos68                   $2.37                 $2.37                  1
Yaralnura48                     $4.19                 $2.10                  2
Yararmol43                      $1.55                 $1.55                  1
Yarirarn35                      $2.88                 $2.88                  1
Yaristi64                       $1.24                 $1.24                  1
Yarithllodeu72                  $2.19                 $2.19                  1
Yarithphos28                    $2.35                 $2.35                  1
Yarithsurgue62                  $4.81                 $2.41                  2
Yarmol79                        $2.91                 $2.91                  1
Yarolwen77                      $6.98                 $3.49                  2
Yasriphos60                    $10.40                 $3.47                  3
Yasrisu92                       $2.60                 $2.60                  1
Yasur35                         $2.78                 $2.78                  1
Yasur85                         $2.04                 $2.04                  1
Yasurra52                       $3.14                 $3.14                  1
Yathecal72                      $7.77                 $3.88                  2
Yathecal82                      $2.41                 $2.41                  1
Zhisrisu83                      $2.46                 $1.23                  2
Zontibe81                       $3.71                 $3.71                  1

[573 rows x 3 columns]

## Itens Mais Populares

In [ ]:
# - Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela):

# - ID do item
# - Nome do item
# - Número de compras
# - Preço do item
# - Valor Total de Compra
# - Itens mais lucrativos

In [33]:
# Cálculos básicos
item_count = purchase_file.groupby(['Nome do Item']).count()['Valor']
item_total = purchase_file.groupby(['Nome do Item']).sum()['Valor']
item_average = purchase_file.groupby(['Nome do Item']).mean()['Valor']


# Dataframe para os resultados
item_data = pd.DataFrame({'Valor Total de Compra' : item_total,
                          'Valor Médio de Compra' : item_average,
                          'Número de Compras' : item_count})

# Data Munging
item_data ['Valor Médio de Compra'] = item_data['Valor Médio de Compra'].map('${:,.2f}'.format)
item_data ['Valor Total de Compra'] = item_data['Valor Total de Compra'].map('${:,.2f}'.format)
item_data.sort_values('Número de Compras', ascending=False)

,Valor Total de Compra,Valor Médio de Compra,Número de Compras
Nome do Item,,,
Final Critic,$38.60,$2.76,14
Arcane Gem,$24.53,$2.23,11
"Betrayal, Whisper of Grieving Widows",$25.85,$2.35,11
Stormcaller,$34.65,$3.46,10
Woeful Adamantite Claymore,$11.16,$1.24,9
Serenity,$13.41,$1.49,9
Trickster,$18.63,$2.07,9
Retribution Axe,$37.26,$4.14,9
"Splitter, Foe Of Subtlety",$28.88,$3.61,8
Darkheart,$25.20,$3.15,8
Crying Steel Sickle,$18.32,$2.29,8
Conqueror Adamantite Mace,$15.68,$1.96,8
Bonecarvin Battle Axe,$19.68,$2.46,8
Crucifer,$20.20,$2.53,8
Blade of the Grave,$11.83,$1.69,7
Brimstone,$17.64,$2.52,7
"Alpha, Oath of Zeal",$20.16,$2.88,7
"Wolf, Promise of the Moonwalker",$13.16,$1.88,7
"Torchlight, Bond of Storms",$12.39,$1.77,7
Alpha,$10.92,$1.56,7
Victor Iron Spikes,$24.85,$3.55,7
Spectral Diamond Doomblade,$29.75,$4.25,7
"Extraction, Quickblade Of Trembling Hands",$23.73,$3.39,7
Persuasion,$24.15,$3.45,7
Feral Katana,$15.33,$2.19,7
"Darkheart, Butcher of the Champion",$24.92,$3.56,7
Soul Infused Crystal,$6.18,$1.03,6
"Blazeguard, Reach of Eternity",$24.00,$4.00,6
Sleepwalker,$10.38,$1.73,6
Singed Scalpel,$29.22,$4.87,6
...,...,...,...
Yearning Crusher,$2.12,$1.06,2
"Tranquility, Razor of Black Magic",$4.94,$2.47,2
Warped Iron Scimitar,$8.16,$4.08,2
Deathraze,$9.08,$4.54,2
Blood-Forged Skeletal Spine,$9.54,$4.77,2
"Oathbreaker, Last Hope of the Breaking Storm",$4.82,$2.41,2
"Thorn, Conqueror of the Corrupted",$4.08,$2.04,2
"Emberling, Defender of Delusions",$8.20,$4.10,2
Piece Maker,$8.72,$4.36,2
"Malice, Legacy of the Queen",$4.76,$2.38,2
"Pursuit, Cudgel of Necromancy",$7.96,$3.98,2
Foul Titanium Battle Axe,$8.66,$4.33,2
"Freak's Bite, Favor of Holy Might",$6.06,$3.03,2
Renewed Skeletal Katana,$4.74,$2.37,2
Dreamsong,$7.62,$3.81,2
Fusion Pummel,$7.16,$3.58,2
"Downfall, Scalpel Of The Emperor",$3.20,$3.20,1
Bloodlord's Fetish,$2.28,$2.28,1
Phantomlight,$1.79,$1.79,1
"Lightning, Etcher of the King",$1.65,$1.65,1
"Hellreaver, Heirloom of Inception",$3.59,$3.59,1
Soul-Forged Steel Shortsword,$1.16,$1.16,1
Ghastly Adamantite Protector,$3.30,$3.30,1
Splinter,$1.82,$1.82,1
"Flux, Destroyer of Due Diligence",$3.04,$3.04,1
Verdict,$3.40,$3.40,1
Exiled Mithril Longsword,$3.25,$3.25,1
"Sun Strike, Jaws of Twisted Visions",$2.64,$2.64,1
Exiled Doomblade,$1.92,$1.92,1
Foul Edge,$2.38,$2.38,1

## Itens Mais Lucrativos

In [ ]:
# - Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela):

# - ID do item
# - Nome do item
# - Número de compras
# - Preço do item
# - Valor Total de Compra

In [53]:
# Cálculos básicos
user_total = purchase_file.groupby(["Nome do Item"]).sum()["Valor"].rename("Valor Total de Compra")
user_average = purchase_file.groupby(["Nome do Item"]).mean()["Valor"].rename("Valor Médio de Compra")
user_count = purchase_file.groupby(["Nome do Item"]).count()["Valor"].rename("Número de Compras")

# Dataframe para os resultados
user_data = pd.DataFrame({"Valor Total de Compra": user_total, 
                          "Valor Médio de Compra": user_average, \
                          "Número de Compras": user_count})

# Data Munging
user_data ["Valor Total Compra"] = user_data["Valor Total de Compra"]
user_data ["Valor Total de Compra"] = user_data["Valor Total de Compra"].map("${:,.2f}".format)
user_data ["Valor Médio de Compra"] = user_data["Valor Médio de Compra"].map("${:,.2f}".format)


display(user_data.sort_values("Valor Total Compra", ascending=False).head(5)[['Valor Total de Compra','Valor Médio de Compra','Número de Compras']])

,Valor Total de Compra,Valor Médio de Compra,Número de Compras
Nome do Item,,,
Final Critic,$38.60,$2.76,14
Retribution Axe,$37.26,$4.14,9
Stormcaller,$34.65,$3.46,10
Spectral Diamond Doomblade,$29.75,$4.25,7
Orenmir,$29.70,$4.95,6

## Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>