# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Idade,Item ID,Login,Nome do Item,Sexo,Valor
0,38,165,Aelalis34,Bone Crushing Silver Skewer,Masculino,3.37
1,21,119,Eolo46,"Stormbringer, Dark Blade of Ending Misery",Masculino,2.32
2,34,174,Assastnya25,Primitive Blade,Masculino,2.46
3,21,92,Pheusrical25,Final Critic,Masculino,1.36
4,23,63,Aela59,Stormfury Mace,Masculino,1.27

## Informações Sobre os Consumidores

In [3]:
# - Número total de consumidores

total_of_consumers = purchase_file.Login.count()
print(f'Total de consumidores: {total_of_consumers}')

Total de consumidores: 780

## Análise Geral de Compras

In [4]:
# - Número de itens exclusivos

exclusive_itens = []

purchase_file = purchase_file.rename(columns={'Nome do Item':'Nome_do_Item'})
purchase_file = purchase_file.rename(columns={'Item ID':'Item_ID'})

for item in purchase_file.Nome_do_Item:
    if item not in exclusive_itens:
        exclusive_itens.append(item)

print(f'Número de itens exclusivos: {len(exclusive_itens)}')

Número de itens exclusivos: 179

In [5]:
# - Preço médio de compra

median = purchase_file.Valor.median()
print(f'Preço médio de compra: ${median:.2f}')

Preço médio de compra: $2.88

In [6]:
# - Número total de compras

print(f'Número total de compras: {purchase_file.Valor.count()}')

Número total de compras: 780

In [7]:
# - Rendimento total

print(f'Rendimento total: ${purchase_file.Valor.sum()}')

Rendimento total: $2286.33

## Informações Demográficas Por Gênero

In [8]:
# - Porcentagem e contagem de compradores masculinos

tot_masc = 0
tot_fem = 0
tot_other = 0

for sex in purchase_file.Sexo:
    if sex == 'Masculino':
        tot_masc += 1
    elif sex == 'Feminino':
        tot_fem += 1
    else:
        tot_other += 1

percent_masc = tot_masc / total_of_consumers * 100

print(f'Porcentagem de compradores masculinos: {percent_masc:.1f}%')
print(f'Contagem de compradores masculinos: {tot_masc}')

Porcentagem de compradores masculinos: 81.2%
Contagem de compradores masculinos: 633

In [9]:
# - Porcentagem e contagem de compradores do sexo feminino

percent_fem = tot_fem / total_of_consumers * 100
print(f'Porcentagem de compradores do sexo feminino: {percent_fem:.1f}%')
print(f'Contagem de compradores do sexo feminino: {tot_fem}')

Porcentagem de compradores do sexo feminino: 17.4%
Contagem de compradores do sexo feminino: 136

In [10]:
# - Porcentagem e contagem de outros / não divulgados

percent_other = tot_other / total_of_consumers * 100
print(f'Porcentagem de outros / não divulgados: {percent_other:.1f}%')
print(f'Contagem de outros / não divulgados: {tot_other}')

Porcentagem de outros / não divulgados: 1.4%
Contagem de outros / não divulgados: 11

## Análise de Compras Por Gênero

In [11]:
# - Número de compras

print(f'Número de compras do gênero Masculino: {tot_masc}')
print(f'Número de compras do gênero Feminino: {tot_fem}')
print(f'Número de compras de gêneros outros / não divulgados: {tot_other} ')

Número de compras do gênero Masculino: 633
Número de compras do gênero Feminino: 136
Número de compras de gêneros outros / não divulgados: 11

In [12]:
# - Preço médio de compra

tot_purchase_all = purchase_file.Valor.sum()
tot_purchase_masc = 0
tot_purchase_fem = 0
tot_purchase_other = 0

for i in range(len(purchase_file)):
    if purchase_file.Sexo[i] == 'Masculino':
        tot_purchase_masc += purchase_file.Valor[i]
    elif purchase_file.Sexo[i] == 'Feminino':
        tot_purchase_fem += purchase_file.Valor[i]
    else:
        tot_purchase_other += purchase_file.Valor[i]

med_price_masc = tot_purchase_masc / tot_masc
med_price_fem = tot_purchase_fem / tot_fem
med_price_other = tot_purchase_other / tot_other

print(f'Preço médio de compra do gênero Masculino: ${med_price_masc:.2f}')
print(f'Preço médio de compra do gênero Feminino: ${med_price_fem:.2f}')
print(f'Preço médio de compra do gênero Outros / Não divulgados: ${med_price_other:.2f}')

Preço médio de compra do gênero Masculino: $2.95
Preço médio de compra do gênero Feminino: $2.82
Preço médio de compra do gênero Outros / Não divulgados: $3.25

In [13]:
# - Valor Total de Compra

print(f'Valor Total de Compra do gênero Masculino: ${tot_purchase_masc:.2f}')
print(f'Valor Total de Compra do gênero Feminino: ${tot_purchase_fem:.2f}')
print(f'Valor Total de Compra do gênero Outros / Não divulgados: ${tot_purchase_other:.2f}')

Valor Total de Compra do gênero Masculino: $1867.68
Valor Total de Compra do gênero Feminino: $382.91
Valor Total de Compra do gênero Outros / Não divulgados: $35.74

In [14]:
# - Compras por faixa etária

tot_purchase_young = 0
tot_purchase_adult = 0
tot_purchase_elderly = 0

for age in purchase_file.Idade:
    if age < 20:
        tot_purchase_young += 1
    elif age < 60:
        tot_purchase_adult += 1
    else: 
        tot_purchase_elderly += 1
        
print(f'Compras feitas pela faixa etária Jovem (até 19 anos): {tot_purchase_young}')
print(f'Compras feitas pela faixa etária Adulta (de 20 a 59 anos): {tot_purchase_adult}')
print(f'Compras feitas pela faixa etária Idosa (a partir de 60 anos): {tot_purchase_elderly}')

Compras feitas pela faixa etária Jovem (até 19 anos): 196
Compras feitas pela faixa etária Adulta (de 20 a 59 anos): 584
Compras feitas pela faixa etária Idosa (a partir de 60 anos): 0

## Consumidores Mais Populares (Top 5)

In [15]:
# - Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela):

# - Login
# - Número de compras
# - Preço médio de compra
# - Valor Total de Compra
# - Itens mais populares

In [16]:
def number_of_purchases(login):
    num = 0
    for i in range(len(purchase_file)):
        if purchase_file.Login[i] == login:
            num += 1
    return num


def purchase_average(login):
    tot = 0
    for i in range(len(purchase_file)):
        if purchase_file.Login[i] == login:
            tot += purchase_file.Valor[i]
    tot_purchases = number_of_purchases(login)
    average = tot / tot_purchases
    return average


def most_popular_item(login):
    items = []
    popular = ''
    maior = 0
    for i in range(len(purchase_file)):
        if purchase_file.Login[i] == login:
            items.append(purchase_file.Nome_do_Item[i])
    
    for i in items:
        if items.count(i) > maior:
            popular = i
            maior = items.count(i)
    
    return popular


def tot_value(login):
    tot = 0
    for i in range(len(purchase_file)):
        if purchase_file.Login[i] == login:
            tot += purchase_file.Valor[i]
    
    return tot

consumers = []
repeated = []

for i in range(len(purchase_file)):
    consumer = {}
    if purchase_file.Login[i] not in repeated:
        login = purchase_file.Login[i]
        consumer = {'Login': login, 
                    'Numero_de_Compras': number_of_purchases(login),
                    'Preco_Medio': purchase_average(login),
                    'Valor_Total': tot_value(login),
                    'Item_mais_popular': most_popular_item(login)}
        repeated.append(purchase_file.Login[i])
        consumers.append(consumer.copy())

In [17]:
best_consumers = pd.DataFrame(consumers).sort_values(by='Valor_Total', ascending=False)[:5]
best_consumers

,Item_mais_popular,Login,Numero_de_Compras,Preco_Medio,Valor_Total
77,Blood Infused Guardian,Undirrala66,5,3.412000,17.06
236,Serenity,Saedue76,4,3.390000,13.56
376,Striker,Mindimnya67,4,3.185000,12.74
15,Blood-Forged Skeletal Spine,Haellysu29,3,4.243333,12.73
104,Heartless Bone Dualblade,Eoda93,3,3.860000,11.58

## Itens Mais Populares

In [18]:
# - Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela):

# - ID do item
# - Nome do item
# - Número de compras
# - Preço do item
# - Valor Total de Compra
# - Itens mais lucrativos

In [19]:
items = []
repeated = []

def number_of_purchases(item_id):
    n = 0
    for i in range(len(purchase_file)):
        if purchase_file.Item_ID[i] == item_id:
            n += 1
            
    return n

for i in range(len(purchase_file)):
    item = {}
    if purchase_file.Item_ID[i] not in repeated:
        item_id = purchase_file.Item_ID[i]
        item = {'ID_do_Item': item_id,
                'Nome_do_Item': purchase_file.Nome_do_Item[i],
                'Numero_de_Compras': number_of_purchases(item_id),
                'Preco_do_Item': purchase_file.Valor[i],
                'Valor_Total_de_Compra': purchase_file.Valor[i] * number_of_purchases(item_id)}
        repeated.append(purchase_file.Item_ID[i])
        items.append(item.copy())

In [20]:
most_popular_items = pd.DataFrame(items).sort_values(by='Numero_de_Compras', ascending=False)[:5]
most_popular_items

,ID_do_Item,Nome_do_Item,Numero_de_Compras,Preco_do_Item,Valor_Total_de_Compra
53,39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
88,84,Arcane Gem,11,2.23,24.53
68,175,Woeful Adamantite Claymore,9,1.24,11.16
33,13,Serenity,9,1.49,13.41
49,31,Trickster,9,2.07,18.63

## Itens Mais Lucrativos

In [21]:
# - Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela):

# - ID do item
# - Nome do item
# - Número de compras
# - Preço do item
# - Valor Total de Compra

In [22]:
items = []
repeated = []

def number_of_purchases(item_id):
    n = 0
    for i in range(len(purchase_file)):
        if purchase_file.Item_ID[i] == item_id:
            n += 1
            
    return n

for i in range(len(purchase_file)):
    item = {}
    if purchase_file.Item_ID[i] not in repeated:
        item_id = purchase_file.Item_ID[i]
        item = {'ID_do_Item': item_id,
                'Nome_do_Item': purchase_file.Nome_do_Item[i],
                'Numero_de_Compras': number_of_purchases(item_id),
                'Preco_do_Item': purchase_file.Valor[i],
                'Valor_Total_de_Compra': purchase_file.Valor[i] * number_of_purchases(item_id)}
        repeated.append(purchase_file.Item_ID[i])
        items.append(item.copy())

In [23]:
best_items = pd.DataFrame(items).sort_values(by='Valor_Total_de_Compra', ascending=False)[:5]
best_items

,ID_do_Item,Nome_do_Item,Numero_de_Compras,Preco_do_Item,Valor_Total_de_Compra
50,34,Retribution Axe,9,4.14,37.26
84,115,Spectral Diamond Doomblade,7,4.25,29.75
45,32,Orenmir,6,4.95,29.70
79,103,Singed Scalpel,6,4.87,29.22
112,107,"Splitter, Foe Of Subtlety",8,3.61,28.88

## Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>