In [10]:
import sqlite3
import random
import time
import datetime

# Criando conexão
conn = sqlite3.connect('SQLite/dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, ' \
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2018-05-02 12:34:45', 'Teclado', '130.00')")
    conn.commit()
    c.close()
    conn.close()

# Usando variáveis para inserir dados
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50, 100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

# Leitura de todos os dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    print('Todos os produtos:')
    for linha in c.fetchall():
        print(linha)

# Leitura de registros específicos 
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 60.0")
    print('Produtos com preço acima de R$60.0')
    for linha in c.fetchall():
        print(linha)

# Leitura de colunas específicas
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    print('Coluna de Preços:')
    for linha in c.fetchall():
        print(linha[3])

# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 62.0")
    conn.commit()

# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 77.0")
    conn.commit()

In [8]:
atualiza_dados()

In [9]:
leitura_todos_dados()

Todos os produtos:
(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2019-11-20 23:36:46.348132', 'Monitor', 77.0)
(12, '2019-11-20 23:36:47.492937', 'Monitor', 76.0)
(13, '2019-11-20 23:36:48.553969', 'Monitor', 97.0)
(14, '2019-11-20 23:36:49.615562', 'Monitor', 70.0)
(15, '2019-11-20 23:36:50.718774', 'Monitor', 69.0)
(16, '2019-11-20 23:36:51.829234', 'Monitor', 61.0)
(17, '2019-11-20 23:36:52.990041', 'Monitor', 97.0)
(18, '2019-11-20 23:36:54.077459', 'Monitor', 93.0)
(19, '2019-11-20 23:36:55.181287', 'Monitor', 75.0)
(20, '2019-11-20 23:36:56.360048', 'Monitor', 54.0)

In [11]:
remove_dados()

In [12]:
leitura_todos_dados()

Todos os produtos:
(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(12, '2019-11-20 23:36:47.492937', 'Monitor', 76.0)
(13, '2019-11-20 23:36:48.553969', 'Monitor', 97.0)
(14, '2019-11-20 23:36:49.615562', 'Monitor', 70.0)
(15, '2019-11-20 23:36:50.718774', 'Monitor', 69.0)
(16, '2019-11-20 23:36:51.829234', 'Monitor', 61.0)
(17, '2019-11-20 23:36:52.990041', 'Monitor', 97.0)
(18, '2019-11-20 23:36:54.077459', 'Monitor', 93.0)
(19, '2019-11-20 23:36:55.181287', 'Monitor', 75.0)
(20, '2019-11-20 23:36:56.360048', 'Monitor', 54.0)